* {
  font-family: "Oswald", sans-serif;
}

h1 {
  color: #757bc8;
  text-align: center;
}

h2 {
  color: #757bc8;
  text-align: center;
  font-size: 22px;
}

h3 {
  color: #757bc8;
  text-align: center;
  font-size: 32px;
}

.forecastDay {
  font-size: 18px;
  color: #757bc8;
  text-align: center;
}

.forecastTemp {
  font-size: 16px;
}

h5 {
  text-align: center;
  font-size: 14px;
}
#description {
  text-transform: capitalize;
}
li {
  color: #240046;
  margin-top: 20px;
}

img {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  max-height: 50px;
}
#temperature {
  font-size: 42px;
}

.active {
  color: #240046;
  text-decoration: none;
  cursor: default;
}

#date {
  font-size: 14px;
}

.searchButton {
  padding: 5px 20px;
  border-radius: 15px;
  font-size: 22px;
  display: block;
  margin: 0 auto;
}

.search {
  display: block;
  margin: 0 auto;
}

button:hover {
  color: white;
  background-color: #757bc8;
  transition: 200ms ease-in-out;
}

input {
  text-align: center;
}

form {
  margin-top: 20px;
}
